<div class="createnewhouse">
<%= link_to "Create New House", new_house_path %>
</div>

<% @houses.each do |house| %>
<div class="mainpage">
<h2><%= link_to house.name, house_path(house)%></h2><p><%= house.quote %></p>

</div>
<% end %>
